.categories{
    padding-bottom: 13px;
    -moz-box-shadow: inset 0 0 10px 0 #000;
    -webkit-box-shadow: inset 0 0 10px 0 #000;
    box-shadow: inset 0 0 10px 0 #000;

        background: #F7ECBA;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #F7ECBA 0%, #ffffff 21%, #ffffff 50%, #ffffff 79%, #F7ECBA 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F7ECBA), color-stop(21%,#ffffff), color-stop(50%,#ffffff), color-stop(79%,#ffffff), color-stop(100%,#F7ECBA));
    background: -webkit-linear-gradient(left, #F7ECBA 0%,#ffffff 21%,#ffffff 50%,#ffffff 79%,#F7ECBA 100%);
    background: -o-linear-gradient(left, #F7ECBA 0%,#ffffff 21%,#ffffff 50%,#ffffff 79%,#F7ECBA 100%);
    background: -ms-linear-gradient(left, #F7ECBA 0%,#ffffff 21%,#ffffff 50%,#ffffff 79%,#F7ECBA 100%);
    background: linear-gradient(to right, #F7ECBA 0%,#ffffff 21%,#ffffff 50%,#ffffff 79%,#F7ECBA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7ECBA', endColorstr='#F7ECBA',GradientType=1 );
    /* background: #fff; */
}
.categories ul li {
    width: 19%;
    display: inline-block;
}
.categories ul li a, .categories ul li a img{
      width: 100%;
}
.categoryMain{
  overflow: hidden;
  padding:35px 52px 0px 52px;
}

.fa-smile-o{
  display: none;
}
.categoryMain p{
     font-family: Roboto;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 55px;
    color: #ECC786;
    margin-top: 32px;
    margin-left: 30px;
}
.homeText {
    margin-top: 57px;
    margin-bottom: 14px;
    margin-left: 164px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 28px;
    color: #94804C;
    width: 100%;
    text-shadow: 0px 1px 3px rgb(90, 90, 90);
}
.homeText2{
     margin: 0;
    position: absolute;
    top: 677px;
    left: 224px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 28px;
    color: #FFF7E3;
    width: 100%;
    text-shadow: 0px 2px 1px rgb(97, 80, 32);
}
.bigwinsMain{
  padding:103px 10px 0 61px;
  position: relative;
  z-index: 4;
  overflow: hidden;
}
.bigwinsMain ul li {
    width: 23.8%;
    margin-right: -3px;
}
.bigwinsMain ul li, .bigwinsMain ul li a {
      display: inline-block;
      overflow: hidden;
      position: relative;
}
.bigwinsMain ul li a {
    height: 267px;
    width: 254px;

}
 .bigwinsMain ul li a img{
    position: relative;
    top: -21px;
 }

.homeCategoryDivider{
     width: 21px;
    position: absolute;
    margin-left: -14px;
    height: 100%;
}
.categoryCol{
  padding-right: 0;
}
/* ----------------------------------- BIGGEST WINS ANIMATION ---------------------------------------- */

/* old transition */
 .info {
  position: absolute;
  bottom: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  -webkit-transition: bottom 0.20s ease-out;
  -moz-transition: bottom 0.20s ease-in-out;
  -ms-transition: bottom 0.20s ease-in-out;
  -o-transition: bottom 0.20s ease-in-out;
  transition: bottom 0.20s ease-in-out;
  left: 0;
  color: #f7f7f7;
  text-decoration: none;
  margin-bottom: 2px;
  z-index: 2;
  opacity: 0.9;
}

.info2 {
position: absolute!important;
top: 100%;
width: 100%!important;
background: rgba(0, 0, 0, 0.4)!important;
text-align: center;
-webkit-transition: top 0.20s ease-out!important;
-moz-transition: top 0.20s ease-in-out!important;
-ms-transition: top 0.20s ease-in-out!important;
-o-transition: top 0.20s ease-in-out!important;
transition: top 0.20s ease-in-out!important;
left: 0;
color: #f7f7f7;
text-decoration: none;
    z-index: 2;
}
.refCell{
overflow: hidden;
}
.refCell:hover .info {
bottom: 1px;
display: block;
height: 99%;
}

.refCell:hover .info2 {
  top: 0;
  display: block;
  padding-top: 67px;
}
.info2 p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin-bottom: 3px;
    color: #F5CF98;
      font-family: Roboto;
}
.info2 h3{
    font-family: Roboto;
    font-size: 46px;
    font-weight: 600;
    color: #F9DE8C;
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
}
.info2 button{
    padding:8px 20px;
    margin: 10px 0px;
    cursor: pointer;
    display: inline-block;
    color: #C17C0C;
    font-weight: 600;
    font-size: 1.5em;
    background: #eee;
    border-radius: 4px;
    /* line-height: 2em; */
    border: 1px solid #846713;
    text-decoration: none;
    font-family: 'Work Sans';
    -webkit-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-shadow: 0px 1px 2px rgb(202, 202, 202);

      background: #ffd65e; /* Old browsers */
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* IE10+ */
  background: linear-gradient(top, #ffd65e 0%,#febf04 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
}



.latestMain{
  background: rgb(218,179,114);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhYjM3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjZjlkMjkwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTIlIiBzdG9wLWNvbG9yPSIjZmZmZmZjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODklIiBzdG9wLWNvbG9yPSIjYWQ3ZDFhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I2ODQxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left,  rgba(218,179,114,1) 0%, rgba(249,210,144,1) 7%, rgba(255,255,252,1) 52%, rgba(173,125,26,1) 89%, rgba(182,132,26,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(218,179,114,1)), color-stop(7%,rgba(249,210,144,1)), color-stop(52%,rgba(255,255,252,1)), color-stop(89%,rgba(173,125,26,1)), color-stop(100%,rgba(182,132,26,1)));
  background: -webkit-linear-gradient(left,  rgba(218,179,114,1) 0%,rgba(249,210,144,1) 7%,rgba(255,255,252,1) 52%,rgba(173,125,26,1) 89%,rgba(182,132,26,1) 100%);
  background: -o-linear-gradient(left,  rgba(218,179,114,1) 0%,rgba(249,210,144,1) 7%,rgba(255,255,252,1) 52%,rgba(173,125,26,1) 89%,rgba(182,132,26,1) 100%);
  background: -ms-linear-gradient(left,  rgba(218,179,114,1) 0%,rgba(249,210,144,1) 7%,rgba(255,255,252,1) 52%,rgba(173,125,26,1) 89%,rgba(182,132,26,1) 100%);
  background: linear-gradient(to right,  rgba(218,179,114,1) 0%,rgba(249,210,144,1) 7%,rgba(255,255,252,1) 52%,rgba(173,125,26,1) 89%,rgba(182,132,26,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dab372', endColorstr='#b6841a',GradientType=1 );

  overflow: hidden;
  margin: 58px 11px 0 10px;

  -moz-box-shadow: 0px 26px 4px 2px #3A3A3A;
  -webkit-box-shadow:0px 26px 4px 2px #3A3A3A;
   box-shadow:0px 26px 4px 2px #3A3A3A; /* 0px 29px 3px 3px #3A3A3A; */

}
.latestMain .gameList{
    background: #ffebaa;
    background: -moz-linear-gradient(top, #ffebaa 0%, #ad7b12 100%);
    background: -webkit-linear-gradient(top, #ffebaa 0%,#ad7b12 100%);
    background: linear-gradient(to bottom, #ffebaa 0%,#ad7b12 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffebaa', endColorstr='#ad7b12',GradientType=0 );
    margin: 45px 0 0 43px;
    border-radius: 2px;
    moz-box-shadow: inset 0 0 10px -2px #000;
    -webkit-box-shadow: inset 0 0 10px -2px #000;
    box-shadow: inset 0 0 10px -2px #000;
    border: 1px solid #A08449;
    padding: 10px;
}
.latestMain .gameList .inner{
    border-radius: 4px;
    background: #230562  url(http://susanwins.com/uploads/77351_catbg42.jpg) no-repeat center top;
    -moz-box-shadow: inset 0 0 10px -1px #000;
    -webkit-box-shadow: inset 0 0 10px -1px #000;
    box-shadow: inset 0 0 10px -1px #000;
    padding: 10px 0px 10px 20px;
    border: 1px solid #A07421;
    padding-top: 30px;

    background: #F7ECBA;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #F7ECBA 0%, #ffffff 21%, #ffffff 50%, #ffffff 79%, #F7ECBA 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F7ECBA), color-stop(21%,#ffffff), color-stop(50%,#ffffff), color-stop(79%,#ffffff), color-stop(100%,#F7ECBA));
    background: -webkit-linear-gradient(left, #F7ECBA 0%,#ffffff 21%,#ffffff 50%,#ffffff 79%,#F7ECBA 100%);
    background: -o-linear-gradient(left, #F7ECBA 0%,#ffffff 21%,#ffffff 50%,#ffffff 79%,#F7ECBA 100%);
    background: -ms-linear-gradient(left, #F7ECBA 0%,#ffffff 21%,#ffffff 50%,#ffffff 79%,#F7ECBA 100%);
    background: linear-gradient(to right, #F7ECBA  0%,#ffffff 21%,#ffffff 50%,#ffffff 79%,#F7ECBA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7ECBA', endColorstr='#F7ECBA',GradientType=1 );
}
.latestMain .ads2{
      margin-top: 30px;
          margin-left: 10px;
}
.latestMain ul{
    margin-top: -22px;
}
.latestMain ul li {
    width: 23%;
    margin: 10px 4px;
}
.latestMain ul li a{
  /*width: 135px;*/
  border-radius: 10%;
  border: 2px solid #B7913D;
  -moz-box-shadow: 0 0 9px -3px #1E1E1E;
  -webkit-box-shadow: 0 0 9px -3px #1E1E1E;
  box-shadow: 0 0 9px -3px #1E1E1E;
  display: inline-block;
  height: 136px;
  overflow: hidden;
}
.latestMain ul li, .latestMain ul li a{
  display: inline-block;
}
.latestMain .ads2 img{
  /*  border: 3px solid #ECC37F;*/
    border-radius: 3px;
    width: 100%;

    background: #ffe18d;
    background: -moz-linear-gradient(top, #ffe18d 0%, #cd8b01 27%, #ffe491 57%, #cfb319 80%, #cdb985 100%);
    background: -webkit-linear-gradient(top, #ffe18d 0%,#cd8b01 27%,#ffe491 57%,#cfb319 80%,#cdb985 100%);
    background: linear-gradient(to bottom, #ffe18d 0%,#cd8b01 27%,#ffe491 57%,#cfb319 80%,#cdb985 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe18d', endColorstr='#cdb985',GradientType=0 );
    -moz-background-size: 250% 250%, 100% 100%;
    padding: 3px;
}



#planeMachine{
  width: 100%;
  height: 280px;
}
.reels{
    padding: 0 93px 0 86px;
    margin-top: 48px;
    height: 305px;
    overflow: hidden;
}
.reels img{
      border-right: 2px solid #000000;
}
.homepageReel{
  position: relative;
}
.homepageReel .susan{
    right: 67px;
    top:4px;
    position: absolute;
    width: 270px;
  }
.homepageReel ul li{
  display: inline-block;
}
.homepageReel ul li img{
  width: 100%;
}
.homepageReel .headText2{
  font-family: 'Work Sans', Roboto, Helvetica, Arial, Serif;
  font-weight: 800;
  text-align: center;
  font-size: 68px; /* 68px */
  padding-top: 53px;
  color: #fff;
  position: relative;
  top: 10px;
  left: 0;
  text-shadow: 0px 3px 2px #640A7F;
}
.headText span, .headText2 span {
  display: block;
  font-size: 111px; /* 120px */
  text-transform: uppercase;
  margin-top: -3px;
  margin-right: 130px;
  font-weight: 900;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.topReel{
  position: absolute;
  top: 0px;
  left: 8px;
  width: auto;
}
.categoryReel{
  position: absolute;
  left: 2px;
  top: 679px;
  height: 1044px;
  width: 1166px;
}
.bigwinsMainReel{
  position: absolute;
  top:1723px;
  left: 1px;
  z-index: 2;
  width: 1167px;
/*    height: 417px;*/
}
.latestReel{
  position: absolute;
  top: 58.85%;
  left: 0px;
}
.latestReel2{
      position: absolute;
top: 2256px;
left: -4px;
height: 1430px;
}
.footerReel{
  position: absolute;
  top: 100%;
  left: 0px;
  width: 99.6%;
      z-index: 2;

}
#planeMachine2, #planeMachine3, #planeMachine4, #planeMachine5{
  height: 279px;;
}



.recbtn{
  width: 250px;
  position: absolute;
  right: 100px;
  bottom: -84px;
  cursor: pointer;
}
 .recbtn .button {
  height: 80px;
  width: 180px;
  cursor: pointer;
  margin: 50px auto;
}
.recbtn .outer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(254, 239, 158, 0.52);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  box-shadow: inset inset rgba(72, 61, 61, 0.85) 0px 1px 5px;
  -webkit-box-shadow: inset rgba(72, 61, 61, 0.85) 0px 1px 5px;
  -moz-box-shadow: inset rgba(72, 61, 61, 0.85) 0px 1px 5px;
  -webkit-transform: perspective(500px) rotateX(35deg);
  -moz-transform: perspective(500px) rotateX(35deg);
}
.recbtn .outer .height {
  position: relative;
  height: 100%;
  margin-top: -15px;
  padding-bottom: 15px;
  background: #39a02d;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
  -webkit-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
  -moz-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}       
.recbtn:hover .outer .height {
  margin-top: -10px;
  padding-bottom: 10px;
  background: #3aaf2d;
  box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
  -webkit-box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
  -moz-box-shadow: rgba( 0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
}
.recbtn:active .outer .height {
  margin-top: 0px;
  padding-bottom: 0px;
}
.recbtn .outer .height .inner {
  position: relative;
  height: 100%;
  text-align: center;
  text-shadow: #8aff7b 0px 0px 1px;
  background: #44d135;
  background: -moz-linear-gradient(top, #80ec75 0%, #43d034 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ec75), color-stop(100%,#43d034)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #80ec75 0%,#43d034 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #80ec75 0%,#43d034 100%); /* W3C */
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
  -webkit-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
  -moz-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;

  line-height: 1.5em;
  font-family: 'Work Sans';
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 41px;
  color: #fff;
  padding: 5px 0;
}
.recbtn .outer .height .inner::after{
    content: "";
    position: absolute;
    width: 94%;
    height: 60%;
    top: 2px;
    left: 3%;
   /* background: -webkit-gradient(linear, 0% 0, 100% 0, from(rgba(255, 255, 255, 0.54902)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.8, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.498039)));
    background: -moz-linear-gradient(linear, 0% 0, 100% 0, from(rgba(255, 255, 255, 0.54902)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.8, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.498039)));      
    background: linear-gradient(top, rgba(255, 255, 255, 0.54902) 0%,rgba(255, 255, 255, 0.498039)100%); */
    background: rgba(255, 255, 255, 0.17);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.29) 0%, rgbargba(255,255,255,0) 50%, rgba(255, 255, 255, 0.27) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.29) 0%,rgba(255,255,255,0) 50%,rgba(255, 255, 255, 0.27) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.29) 0%,rgba(255,255,255,0) 50%,rgba(255, 255, 255, 0.27) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );

    border-radius: 50px;
}
.recbtn .outer .height .inner span{
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: -21px;
    color: #E498E2;
    text-shadow: 0 0 0;
}
.recbtn:hover .outer .height .inner{
  text-shadow: #99f48d 0px 0px 1px;
  background: #43d034; /* Old browsers */
  background: -moz-linear-gradient(top, #43d034 0%, #67e45c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43d034), color-stop(100%,#67e45c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #43d034 0%,#67e45c 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #43d034 0%,#67e45c 100%); /* W3C */
}
.recbtn:active .outer .height .inner{
  text-shadow: #319926 0px 1px 0px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
  -webkit-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
  -moz-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
  background: #1d7d12; /* Old browsers */
  background: -moz-linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d7d12), color-stop(100%,#4fd342)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1d7d12 0%,#4fd342 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #1d7d12 0%,#4fd342 100%); /* W3C */
}
.longText{
      left: 100px;
      width: 290px;
}
.redbg{
  background: #8A0908!important;
}
.redbgInner{
    background: #8A0908!important;
    background: -moz-linear-gradient(top, #EF4543 0%, #A00703 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EF4543), color-stop(100%,#A00703))!important;
    background: -webkit-linear-gradient(top, #EF4543 0%,#A00703 100%)!important;
    background: linear-gradient(top, #EF4543 0%,#A00703 100%)!important;
}
.whatInner{
    font-size: 29px!important;
    padding: 0px 12px!important;
}

.purplebg{
background: #8B0B7A!important;
}
.purplebgInner{
   
       background: #CA74C7!important;
    background: -moz-linear-gradient(top, #CA74C7 0%, #9A1295 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CA74C7), color-stop(100%,#9A1295))!important;
    background: -webkit-linear-gradient(top, #CA74C7 0%,#9A1295 100%)!important;
    background: linear-gradient(top, #CA74C7 0%,#9A1295 100%)!important;
}
.halfRound{
  -webkit-border-radius: 50px!important;
  -moz-border-radius: 50px!important;
  border-radius: 50px!important;
}

@media(min-width: 1800px){
/*  .container {
    width: 1255px;
  }
  .homepageReel .susan{
    top: 6px;
  }
  .homepageReel .headText2{
    font-size: 67px;
    padding-top: 61px;
  }
  .headText span, .headText2 span{
    font-size: 122px;
    margin-top: -3px;
    margin-right: 104px;
  }
  .topReel{
    width: 100%;
  }
  .categoryReel{
    left: 2px;
    top: 743px;    
    width: 1276px;
    height: 1154px;
  }
  .reels{
    padding: 0 91px 0 94px;
    margin-top: 62px;
    height: 300px;
  }
  #planeMachine2, #planeMachine3, #planeMachine4, #planeMachine5 {
    height: 305px;
  }
  #playbig{
    top: 590px!important;
  }
  .homeText{
    margin-top: 91px;
    margin-left: 200px;
  }
  .homeText2{
    top: 743px;
    left: 265px;
  }
  .categoryMain {
    padding: 44px 49px 0px 58px;
  }
  .categories{
    padding: 15px 20px 46px 20px;
  }
  .bigwinsMain{
    padding: 112px 2px 0 70px;
  }
  .bigwinsMainReel{
    width: 1278px;
    top: 1890px;
    left: 1px;
  }
  .bigwinsMain ul li a {
    height: 292px;
    width: 277px;
  }
  .latestMain{
    margin: 82px 3px 0 12px;
  }
  .footerReel{
     width: 100.6%;
  }*/
}

@media(max-width: 1440px){
  .homepageReel .susan{
    top: 1px;
    width: 255px;
  }
  .categoryReel{
    top: 665px;
  }
  .homeText{
        margin-top: 48px;
  }
  .homeText2{
    top: 665px;
  }
  .bigwinsMainReel{
    top: 1830px;
  }
  .categoryReel{
    height: 1176px;
  }
  .recbtn{
    bottom: -63px;
  }
  .bigwinsMain{
    padding: 108px 10px 0 61px;
  }
  .latestMain{
        margin: 47px 11px 0 10px;
  }
  .simpleFooter{
        width: 97.1%;
    margin-top: -13px;
    margin-left: 9px;
  }
}
@media(max-width: 1199px){


  .homepageReel .headText2{
    font-size: 63px;
  }
  .homepageReel .susan{
      width: 29%;
      top: -11px;
      right: 33px;
    }
  .headText span, .headText2 span{
    font-size: 95px;
  }
  .reels {
    padding: 0 40px 0 58px;
    margin-top: 17px;
    height: 201px;
  }

  .categories {
      padding-top: 13px;
  }
  .categoryMain{
    margin-top: 0;
   padding: 23px 44px 0px 45px;
  }
  .categoryMain p{
    margin-bottom: 47px;
    font-size: 19px;
    margin-top: 17px;
  }
  .categories{
    padding-left: 12px;
  }
  .categoryReel{
    top: 633px;
    height: 833px;
  }
  .bigwinsMainReel{
    top: 1458px;
    left: 0;
  }
  .bigwinsMain {
      padding: 91px  8px 0 50px;
  }
  .bigwinsMain ul li, .bigwinsMain ul li a{
    height: 222px;
    width: 210px;
  }
  .latestMain{
    margin: 83px 5px 0 4px;
    -moz-box-shadow: 0 1px 3px 2px #3A3939;
    -webkit-box-shadow:0 1px 3px 2px #3A3939;
    box-shadow:0 1px 3px 2px #3A3939;
  }
  .latestReel{
    top: 101.51%;
  }
  .latestReel2{
    top: 106.8%;
    height: 1210px;
  }
  .latestMain .ads2 {
      margin-top: -8px;
  }
  .footerReel{
    top: 99.5%;
  }
  
  .latestMain ul li a{
        height: 108px;
  }

}

@media(max-width: 1024px){
  header .topicons {
  margin-top: 20px;
  }
  .verytopHeader{
    padding:0;
  /*  height: 75px;*/
  }
  header .logo {
     width: 93%;
    margin-top: 5px;
  }
  .chatbox-panel{
   right: 2%;
  }
  .gameExp {
    top: 70px !important;
  }
}

@media(max-width: 991px){
  .topSearchIcon{
    display: block;
  }
  .homepageReel .susan {
      width: 30%;
      top: -12px;
      right: 19px;
  }
  .homepageReel .headText2{
    padding-top: 38px;
    font-size: 47px;
  }
  .headText span, .headText2 span{
    font-size: 72px;
  }
  .categoryMain p{
    font-size: 18px;
    margin-bottom: 34px;
    margin-left: 10px;
    text-align: left;
  }
  .categories ul li {
    width: 24%;
  }
  .reels {
      padding: 0 55px 0 53px;
      margin-top: 54px;
      height: 192px;
  }
  .categoryMain{
     margin-top: 3px;
     padding: 15px 27px;
  }
  .categoryReel{
     height: 934px;
     top: 490px;
  }
  .bigwinsMainReel {
    top: 1414px;
    left: 0;
    height: auto;
  }
  .bigwinsMain {
    padding: 62px 3px 0 35px;
  }
  .bigwinsMain ul li, .bigwinsMain ul li a {
      height: 172px;
      width: 162px;
  }
  .latestReel {
    top: 101%;
    left: 0.14%;
  }
  .latestReel2 {
    top: 105.4%;
    height: 1601px;
    left: 1px;
  }
  .latestMain
  {
     margin:62px 1px 0 0px;
    -moz-box-shadow: 0 0px 4px 1px #000000;
    -webkit-box-shadow: 0 0px 4px 1px #000000;
    box-shadow: 0 0px 4px 1px #000000;
  }
  .latestMain ul li {
      width: 30.9%;
  }
  .latestMain .ads2 {
     margin-top: 0px;
  }
  .latestMain .gameList{
    margin: 3px 0 20px 18px;
  }
  .footerReel {
      top:99.7%;
  }

  .categories {
    padding-top: 9px;
  } 

}

@media(max-width: 768px){
  .categories {
    padding-top: 6px;
  }
  .categoryMain{
    margin-top: 0px;
    padding: 8px 25px;
  }
  .bigwinsMain {
    padding: 98px 3px 0 35px;
  }
  #playbig {
    top: 360px;
  }
}































